{% extends 'base.html' %}

{% block script %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://login.persona.org/include.js" type="text/javascript"></script>

    <script type="text/javascript">
        function openPopup(url) {
            var w = 700;
            var h = 500;
            var left = 100;
            var top = 100;

            var settings = 'height=' + h + ',width=' + w + ',left=' + left + ',top=' + top + ',resizable=yes,scrollbars=yes,toolbar=no,menubar=no,location=yes,directories=no,status=yes';
            url += "?next={% url 'login_popup_close' %}";

            window.open(url, name, settings)
        }

    </script>

{% endblock %}


{% block heading %}Login using any of the following methods{% endblock %}


{% block content %}

    <div>
        <h3>User data:</h3>
        <table>
            <tr class="odd"><th>Id:</th> <td>{{ user.id }}</td></tr>
            <tr class="even"><th>Username:</th> <td>{{ user.username }}</td></tr>
            <tr class="odd"><th>Group:</th> <td>{{ user.group.name }}</td></tr>
            <tr class="odd"><th>Email:</th> <td>{{ user.email|default:"Not provided" }}</td></tr>
            <tr class="even"><th>First name:</th> <td>{{ user.first_name|default:"Not provided" }}</td></tr>
            <tr class="odd"><th>Last name:</th> <td>{{ user.last_name|default:"Not provided" }}</td></tr>
            <tr class="even"><th>Last login backend:</th> <td>{{ user.last_login }}</td></tr>
        </table>
    </div>

    <div>
        <h3>Login using <a href="http://oauth.net/" title="OAuth">OAuth</a> from:</h3>
        <ul>
            {% for name in social_auth.backends.oauth %}
                <li><a rel="nofollow" href="{% url "socialauth_begin" name %}">{{ name|title }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h3>Login using <a href="http://tools.ietf.org/html/draft-ietf-oauth-v2-10" title="OAuth2">OAuth2</a> from:</h3>
        <ul>
            {% for name in social_auth.backends.oauth2 %}
                <li><a rel="nofollow" href="{% url "socialauth_begin" name %}">{{ name|title }}</a></li>
            {% endfor %}
        </ul>
    </div>


    {% if social_auth.backends.oauth2 %}
        <div>
            <h3>Login in pop-up window:</h3>
            <ul>
                {% with social_auth.backends.oauth2|first as first_name %}
                    <li>Some OAuth2 backend: <a rel="nofollow" href="javascript:openPopup('{% url "socialauth_begin" first_name %}'); return void(0);">{{ first_name|title }}</a></li>
                {% endwith %}
            </ul>
        </div>
    {% endif %}


    <ul>
        {% for item in schedule_all %}
            <h1>{{ item.day }}</h1>
            <b> {{ item.course.name }} </b> <br>
            <b> {{ item.course.teacher.last_name }} </b>
            <br>
            <div class="page-header">
                {{ item.room }} <br>
                {{ item.building.name }}
            </div>
        {% endfor %}
    </ul>

{% endblock %}
