{% extends 'base.html' %}

{% block content %}

    Расписание полностью: <br>
    <ul>
    {% for week_n in week_number %}
        {% for day_n in day_number %}
            {% for item in schedule_full %}
                {% if item.week == week_n and item.weekday == day_n %}
                    <h1>{{ item.weekday }}</h1>
                    <b> {{ item.course.name }} </b> <br>
                    <b> {{ item.course.teacher.last_name }} </b>
                    <br>
                    <div class="page-header">
                        {{ item.room }} <br>
                        {{ item.building.name }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
    </ul>

{% endblock %}