{% extends 'base.html' %}

{% block content %}

<legend>
    <strong>Ваше личное расписание</strong>
</legend>

<h6>Сегодня:</h6>
<table class="table table-striped table-bordered" >
{% for item in personal_schedule_current %}
    {% if item.weekday == today %}
        <tr>
            <td style="width: 8%">
                {{ item.get_begin_time_display }}
            </td>
            <td style="width: 42%">
                {{ item.course.name.name }}
            </td>
            <td style="width: 37%">
                {{ item.course.teacher.last_name }} {{ item.course.teacher.initials }}
            </td>
            <td style="width: 13%">
                {{ item.room }} / {{ item.building.name }}
            </td>
        </tr>
    {% endif %}
{% empty %}
    Занятий нет! <br>
{% endfor %}
</table>

<h6>Завтра:</h6>
    <table class="table table-striped table-bordered" >
        {% for item in personal_schedule_current %}
            {% if item.weekday == tomorrow %}
                <tr>
                    <td style="width: 8%">
                        {{ item.get_begin_time_display }}
                    </td>
                    <td style="width: 42%">
                        {{ item.course.name.name }}
                    </td>
                    <td style="width: 37%">
                        {{ item.course.teacher.last_name }} {{ item.course.teacher.initials }}
                    </td>
                    <td style="width: 13%">
                        {{ item.room }} / {{ item.building.name }}
                    </td>
                </tr>
            {% endif %}
        {% empty %}
            Занятий нет! <br>
        {% endfor %}
    </table>

{% endblock %}